<form [formGroup]="signInForm"  (ngSubmit)="onSubmit()" class="space-y-6 max-w-md mx-auto">
  <div data-aos="fade-in" data-aos-duration="1000">
    <label for="phoneNumber" class="block text-sm font-medium text-neutral-900 dark:text-white mb-2">Phone Number</label>
    <input
      type="tel"
      id="phoneNumber"
      formControlName="phoneNumber"
      class="block w-full rounded-md border border-neutral-300 dark:border-neutral-700 px-4 py-2 text-neutral-900 dark:text-white text-sm placeholder-neutral-500 dark:placeholder-neutral-400 focus:border-neutral-900 dark:focus:border-white outline-none bg-white dark:bg-neutral-800"
      placeholder="Enter your phone number"
    >
    <div *ngIf="signInForm.get('phoneNumber')?.invalid && signInForm.get('phoneNumber')?.touched" class="text-red-500 text-sm mt-1">
      Please enter a valid 10-digit phone number.
    </div>
  </div>

  <div data-aos="fade-in" data-aos-duration="1000" data-aos-delay="200">
    <label for="password" class="block text-sm font-medium text-neutral-900 dark:text-white mb-2">Password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      class="block w-full rounded-md border border-neutral-300 dark:border-neutral-700 px-4 py-2 text-neutral-900 dark:text-white text-sm placeholder-neutral-500 dark:placeholder-neutral-400 focus:border-neutral-900 dark:focus:border-white outline-none bg-white dark:bg-neutral-800"
      placeholder="Enter your password"
    >
    <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched" class="text-red-500 text-sm mt-1">
      Password must be at least 6 characters long.
    </div>
  </div>

  <div data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
    <button
      type="submit"
      [disabled]="signInForm.invalid || isLoading"
      class="whitespace-nowrap w-full inline-flex items-center justify-center px-4 py-1 rounded-lg shadow-sm text-base font-bold border border-neutral-900 dark:border-white hover:border-neutral-700  bg-neutral-900 hover:bg-neutral-800 dark:bg-neutral-100 dark:hover:bg-neutral-300 dark:hover:border-neutral-300 text-white dark:text-neutral-900  duration-200"
    >
      Sign In
    </button>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>

</form>
